<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <div class="xbox">
  <h1><%=xbox.name%></h1>
  <h2><%=xbox.developer%></h2>
  <h3><%=xbox.release%></h3>
  <img src="<%=xbox.image%>" alt="<%=xbox.name%>" />
  <br>
  <br>
  <div class="buttons">
  <form action="/xbox/<%=xbox.id%>/edit" class='put' method="GET">
  <input type="submit" class="editlink" value="Edit">
  </form>
  <br>
  <br>
  <form action="/xbox/<%=xbox.id%>?_method=DELETE" class='delete' method="POST">
  <input type="submit" class="dellink" value="Delete">
  </form>
</div>
</div>
</body>
<br>
<br>
<br>
<a href="/xbox/show">Back to Games</a>
</html>
